body {
  font-family: sans-serif;
}

.light-container {
  background-color: black;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
}

.light {
  margin: 10px 10px;
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
}
